# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/**/dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example
!.env.local.example

# prisma
packages/db/prisma/generated/
packages/db/node_modules/.prisma/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test / coverage
coverage/
